# Configure Cloudflare Worker

name = "website"
compatibility_date = "2025-12-19"

[build]
command = "chmod a+x build.sh && ./build.sh"

[assets]
directory = "./public"
not_found_handling = "404-page"